.preview > .collection > a:nth-child(1) .card {
  background: url("../img/PrevCol1.png") top center no-repeat; }

.preview > .collection > a:nth-child(2) .card {
  background: url("../img/PrevCol2.png") top center no-repeat; }

.preview > .collection > a:nth-child(3) .card {
  background: url("../img/PrevCol3.png") top center no-repeat; }

.preview > .collection > a:nth-child(4) .card {
  background: url("../img/PrevCol4.png") top center no-repeat; }

.preview > .collection > a:nth-child(5) .card {
  background: url("../img/PrevCol5.png") top center no-repeat; }

.explore > .collection > a:nth-child(1) .card {
  background: url("../img/Prev2Col1.png") top center no-repeat; }

.explore > .collection > a:nth-child(2) .card {
  background: url("../img/Prev2Col2.png") top center no-repeat; }

.explore > .collection > a:nth-child(3) .card {
  background: url("../img/Prev2Col3.png") top center no-repeat; }

.explore > .collection > a:nth-child(4) .card {
  background: url("../img/Prev2Col4.png") top center no-repeat; }

.explore > .collection > a:nth-child(5) .card {
  background: url("../img/Prev2Col5.png") top center no-repeat; }

.preview .ship #prod-carousel .carousel-inner .carousel-item .cards-group .prod-card:nth-child(1) .prod-wall {
  background: url("../img/1SS1.png") center no-repeat; }

.preview .ship #prod-carousel .carousel-inner .carousel-item .cards-group .prod-card:nth-child(2) .prod-wall {
  background: url("../img/1SS2.png") center no-repeat; }

.preview .ship #prod-carousel .carousel-inner .carousel-item .cards-group .prod-card:nth-child(3) .prod-wall {
  background: url("../img/1SS3.png") center no-repeat; }

.preview .ship #prod-carousel .carousel-inner .carousel-item .cards-group .prod-card:nth-child(4) .prod-wall {
  background: url("../img/1SS4.png") center no-repeat; }

.coll .card:nth-child(1) {
  background: url("../img/coll1.png") center no-repeat;
  background-size: cover; }

.coll .card:nth-child(2) {
  background: url("../img/coll2.png") center no-repeat;
  background-size: cover; }

.coll .card:nth-child(3) {
  background: url("../img/coll3.png") center no-repeat;
  background-size: cover; }

.coll .card:nth-child(4) {
  background: url("../img/coll4.png") center no-repeat;
  background-size: cover; }

.financies > a:nth-child(1) .pay-block .method {
  background: url("../img/purchase1.png") center no-repeat; }

.financies > a:nth-child(2) .pay-block .method {
  background: url("../img/purchase2.png") center no-repeat; }

.financies > a:nth-child(3) .pay-block .method {
  background: url("../img/purchase3.png") center no-repeat; }

.financies > a:nth-child(4) .pay-block .method {
  background: url("../img/purchase4.png") center no-repeat; }

#carouselProdSS .control .carousel-indicators div:nth-child(1) {
  background: url("../img/ProdNaviPoint1.png") center no-repeat;
  background-size: cover; }

#carouselProdSS .control .carousel-indicators div:nth-child(2) {
  background: url("../img/ProdNaviPoint2.png") center no-repeat;
  background-size: cover; }

#carouselProdSS .control .carousel-indicators div:nth-child(3) {
  background: url("../img/ProdNaviPoint3.png") center no-repeat;
  background-size: cover; }

#carouselProdSS .control .carousel-indicators div:nth-child(4) {
  background: url("../img/ProdNaviPoint4.png") center no-repeat;
  background-size: cover; }

#carouselProdSS .control .carousel-indicators div:nth-child(5) {
  background: url("../img/ProdNaviPoint5.png") center no-repeat;
  background-size: cover; }

.sets .set-card:nth-child(1) .wall {
  background: url("../img/popSet1.png");
  background-size: cover; }

.sets .set-card:nth-child(2) .wall {
  background: url("../img/popSet2.png");
  background-size: cover; }

.sets .set-card:nth-child(3) .wall {
  background: url("../img/popSet3.png");
  background-size: cover; }

.sets .set-card:nth-child(4) .wall {
  background: url("../img/popSet4.png");
  background-size: cover; }

/*# sourceMappingURL=mixins.css.map */
