@mixin collection {
    margin: -12px -13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > a{
        & > .card{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            border: none;
            margin: 12px 13px;
            width: 555px;
            height: 555px;
    
            &:hover{
                cursor: pointer;
                transition: 0.25s;
                transform: scale(1.05);
                z-index: 1;
                box-shadow: 0 0 15px 2px $black-op60;
            }
    
            & > p{
                display: flex;
                width: 100%;
                height: 96px;
                justify-content: center;
                align-items: center;
                background: $gray6;
                font-family: $outfit;
                font-weight: $lite;
                font-size: $fsz_default;
                line-height: 32px;
                letter-spacing: 0.265em;
                text-transform: uppercase;
                color: $white;
            }
        }

        &:first-child{
            & > .card{
                width: 1137px;
            }
        }
    }
}

@mixin stars {
    height: 45px;
    width: 225px;
    background: url('../img/goldStar.svg') top left repeat-x;
}

@mixin finances{
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;

    & > a{
        margin-right: 27px;
        
        .pay-block{
            width: 72px;
            height: 72px;
            border: 1px solid $gray11;
            background: $white;
        
            .method{
                width: 100%;
                height: 100%;
            }
        }

        &:last-child{
            margin-right: 0;
        }
    }
}

@mixin starsProd {
    height: 47px;
    width: 235px;
    background: url('../img/ProdNaviStar.svg') top left repeat-x;
}

@mixin color-type {
    margin-top: 11px;
    display: flex;
    justify-content: flex-start;
    
    & > div{
        margin-right: 14px;

        & > input[type=radio]{
            display: none;
        }

        & > label{
            cursor: pointer;
            display: inline-block;
            position: relative;

            &:before{
                cursor: pointer;
                display: inline-block;
                content: '';
                width: 52px;
                height: 52px;
                border-radius: 50%;
            }
        }

        input[type=radio]:checked + label:before {
            border: 4px solid $gray6;
            border-radius: 50%;
        }

        input[type=radio]:hover + label:before {
            border: 4px solid $gray4;
            border-radius: 50%;
        }

        input[type=radio]:active + label:before {
            border: 4px solid $gray4;
            border-radius: 50%;
            transform: scale(0.95);
        }


        &:nth-child(1){
            label{
                &:before{
                    background: $palette1;
                }
            }
        }
        &:nth-child(2){
            label{
                &:before{
                    background: $palette2;
                }
            }
        }
        &:nth-child(3){
            label{
                &:before{
                    background: $palette3;
                }
            }
        }
        &:nth-child(4){
            label{
                &:before{
                    background: $palette4;
                }
            }
        }
        &:nth-child(5){
            margin-right: 0;
            label{
                &:before{
                    background: $palette5;
                }
            }
        }
        
        
    }
}

@for $item from 1 through 5{
    .preview{
        & > .collection{
            & > a:nth-child(#{$item}){
                .card{
                    background: url('../img/PrevCol#{$item}.png') top center no-repeat;
                }
            }
        }
    }
}

@for $item from 1 through 5{
    .explore{
        & > .collection{
            & > a:nth-child(#{$item}){
                .card{
                    background: url('../img/Prev2Col#{$item}.png') top center no-repeat;
                }
            }
        }
    }
}

@for $item from 1 through 4{
    .preview{
        .ship{
            #prod-carousel{
                .carousel-inner{
                    .carousel-item{
                        .cards-group{
                            .prod-card:nth-child(#{$item}){
                                .prod-wall{
                                    background: url('../img/1SS#{$item}.png') center no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@for $item from 1 through 4{

    .coll{

        .card{

            &:nth-child(#{$item}){
                background: url('../img/coll#{$item}.png') center no-repeat;
                background-size: cover;
            }
            
        }

    }

}

@for $item from 1 through 4{
    .financies{
        & > a{
            &:nth-child(#{$item}){
                .pay-block{
                    .method{
                        background: url('../img/purchase#{$item}.png') center no-repeat;
                    }
                }
            }
        }
    }
}

@for $item from 1 through 5{
    #carouselProdSS{
        .control{
            .carousel-indicators{
                div{
                    &:nth-child(#{$item}){
                        background: url('../img/ProdNaviPoint#{$item}.png') center no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}
