@import 'mixins.scss';
@import 'variables.scss';
@import 'default.scss';

*{
    
    .header{
        .sale{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 71px;
            background-color: $green;

            & > p{
                font-family: $grotesk;
                font-weight: $regular;
                font-size: $fsz20;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: $white;
            }

        }

        .navigation{
            min-height: 139px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 101px;
            
            ul{
                &.item{
                    display: flex;
                    justify-content: space-around;
                    font-family: $grotesk;
                    font-weight: $regular;
                    font-size: $fsz_default;
                    line-height: 33px;
                    font-size: $fsz20;

                    & > li{
                        margin-right: 40px;

                        &:last-child{
                            margin-right: 0;
                        }

                        &:hover{
                            color: $dkblue;
                        }
                    }
                }
            }

            & > ul{

                margin-top: 5px;

                & > li{
                    color: $gray2;
                }
            }

            & > img{
                margin-left: 40px;
                margin-right: 70px;
            }

            .profile{
                display: flex;
                justify-content: space-around;
                margin-top: 5px;

                & > ul{
                    & > li{
                        color: $gray5;
                    }
                }

                img{
                    width: 30px;
                    height: 30px;
                }

                .marg-l{
                    margin-left: 30px;
                }

                .cart{
                    position: relative;

                    .goods-count{
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: $beige;
                        color: $white;
                        bottom: -11px;
                        left: 12px;
                        text-align: center;

                        & > p{
                            font-size: 14px;
                            padding-top: 2px;
                        }

                    }
                }
            }
        }
    }

    .shop-collect{
        background: url('../img/BlackSecWide.png') top center no-repeat;
        width: 100%;
        background-size: cover;
        padding: 214px 97px 0;
        min-height: 984px;
        
        h1{
            font-family: $outfit;
            font-weight: $medium;
            font-size: $fsz75;
            line-height: 94px;
            color: $white;
        }

        p{
            margin-top: 18px;
            font-family: $grotesk;
            font-weight: $regular;
            font-size: $fsz_default;
            line-height: 42px;
            color: $white;
        }

        button{
            margin-top: 55px;
            width: 442px;
            height: 97px;
            background: $beige;
            border: none;

            font-family: $outfit;
            font-weight: $lite;
            font-size: $fsz_default;
            line-height: 32px;
            letter-spacing: 0.265em;
            text-transform: uppercase;
            color: $white;
        }
    }

    .preview{
        margin: 101px;

        .collection{
            @include collection;
        }

        .guarantee{
            margin-top: 102px;
            background: $green;
            padding: 77px 40px 78px;
            display: flex;
            justify-content: space-between;

            .description{
                width: 33%;
                text-align: center;

                h6{
                    margin-top: 27px;
                    font-family: $outfit;
                    font-weight: $lite;
                    font-size: $fsz_default;
                    line-height: 32px;
                    letter-spacing: 0.265em;
                    text-transform: uppercase;
                    color: $white;
                }

                p{
                    margin-top: 17px;
                    font-family: $grotesk;
                    font-weight: $regular;
                    font-size: $fsz_default;
                    line-height: 33px;
                    text-align: center;
                    color: $white;
                }
            }

            .line{
                border-right: 1.79259px solid rgba(255, 255, 255, 0.3);
                background: none;
                
                &:nth-child(2){
                    margin-right: 20px;
                }

                &:nth-child(4){
                    margin-left: 20px;
                }
            }


        }

        .ship{
            text-align: center;

            & > h2{
                margin-top: 100px;
                font-family: 'Outfit';
                font-weight: $medium;
                font-size: $fsz75;
                line-height: 94px;
                color: $black-med;
            }

            & > p{
                margin-top: 17px;
                font-family: $grotesk;
                font-weight: $regular;
                font-size: $fsz_default;
                line-height: 33px;
                color: $black-med;
            }

            #prod-carousel{
                display: flex;
                justify-content: space-between;
                margin: 10px 10px 0;
                
                .carousel-inner{

                    .carousel-item{

                        .cards-group{
                            display: flex;
                            justify-content: center;
    
                            .prod-card{
                                width: 362px;
                                height: 517px;
                                margin: 18px;
                                text-align: left;
                                
                                .prod-wall{
                                    width: 361px;
                                    height: 361px;
                                }
    
                                & > h6{
                                    font-family: $outfit;
                                    font-weight: $regular;
                                    font-size: $fsz_default;
                                    line-height: 32px;
                                    color: $black
                                }
    
                                & > p{
                                    font-family: $grotesk;
                                    font-weight: $regular;
                                    font-size: $fsz_default;
                                    line-height: 33px;
                                    color: $gray5;
                                    margin-top: 11px;
                                }
    
                                & > button{
                                    margin-top: 14px;
                                    width: 361px;
                                    height: 75px;
                                    border: none;
                                    background: $beige;
                                    font-family: $grotesk;
                                    font-weight: $regular;
                                    font-size: $fsz_default;
                                    line-height: 33px;
                                    text-align: center;
                                    color: $white;
                                }
    
                            }
    
                        }
    
                    }
                    

                }

                .carousel-control-prev, .carousel-control-next{
                    position: relative;
                    width: 20px;
                    margin: 0 10px;

                    svg{
                        opacity: 0.25;
                    }

                    &:hover{
                        svg{
                            opacity: 1;
                            path{
                                fill: $gray1;
                                
                            }
                        }
                    }
                    
                }

            }

        }

    }

    .hq-fabric{
        margin-top: 110px;
        width: 100%;
        background: url('../img/bg-hq-fabric.png') center no-repeat;
        background-size: cover;

        .cover-hqf{
            background: $black-op60;
            text-align: center;

            & > img{
                margin-top: 109px;
            }

            & > p{
                font-family: 'Outfit';
                font-weight: $medium;
                font-size: $fsz26;
                line-height: 42px;
                letter-spacing: 7px;
                color: $dkwhite;
                margin-top: 50px;
            }

            & > h2{
                font-family: $outfit;
                font-weight: $regular;
                font-size: $fsz75;
                line-height: 112px;
                text-transform: capitalize;
                color: $dkwhite;
                margin-top: 12px;
                padding-bottom: 110px;

                & > span{
                    font-weight: $sbold;
                    text-transform: uppercase;
                }
            }

        }
    }

    .explore{
        text-align: center;

        & > h2{
            margin-top: 94px;
            font-family: $outfit;
            font-weight: $medium;
            font-size: $fsz75;
            line-height: 94px;
            color: $black-med;          
        }

        & > p{
            margin: 17px 0 35px;
            font-family: $grotesk;
            font-weight: $regular;
            font-size: $fsz_default;
            line-height: 33px;
            color: $black-med;
        }

        .collection{
            @include collection;
            margin-bottom: 100px;
        }

        .furniture{
            text-align: left;

            & > h2{
                margin-top: 73px;
                font-family: $outfit;
                font-weight: $medium;
                font-size: $fsz75;
                line-height: 156.84%;
                color: $black-med;
            }

            & > p{
                margin-top: 70px;
                font-family: $grotesk;
                font-weight: $regular;
                font-size: $fsz_default;
                line-height: 43px;
                color: $black;
            } 

        }

    }

}