/*  fonts  */

$outfit: 'Outfit', sans-serif;
$gill: 'Gill Sans', sans-serif;
$grotesk: 'HK Grotesk', sans-serif;


/*  font-weight  */

$lite: 300;
$regular: 400;
$medium: 500;
$sbold: 600;


/*  font-size  */

$fsz18: 18px;
$fsz20: 20px;
$fsz24: 24px;
$fsz_default: 25px;
$fsz26: 26px;
$fsz30: 30px;
$fsz55: 55px;
$fsz75: 75px;


/*  colors  */

$white: #FFFFFF;
$dkwhite:#F5F3ED;

$gray6: #636A6A;
$gray5: #888887;
$gray4: #C1C1C1;
$gray3: #A9A9A9;
$gray2: #BEBFBE;
$gray1: #545454;
$gray0: #272727;

$black-lite: #1D1F1F;
$black-med: #161616;
$black: #000000;

$litebeige: #F0E9DE;
$beige: #B58269;
$gold: #DFC226;
$lime: #A2BEAA;
$aqua: #016262;
$green: #3A5041;
$peach: #F8796B;
$pink: #FF5B5B;
$dkblue: #00264B;

$white-op58: rgba(255, 255, 255, 0.58);
$black-op60: rgba(0, 0, 0, 0.6);
