body{
    background-color: coral;
    margin: 0;
}
h1{
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    text-align: center;
}
p{
    text-indent: 1cm;
    margin: 7px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}