body{
    background-color:rgb(254, 255, 188);
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:rgb(97, 96, 43)
}

h2{
    font-family: 'Cormorant', serif;
    font-weight: 500;
}
ul{
    font-family: Raleway;
    font-weight: 100;
}
li{
    margin: 0.2cm;
}
a{ 
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

