body{
    background-color:rgb(254, 255, 188);
}
h1{
    font-family: 'Cormorant Infant', serif;
    font-size: 3em;
    margin: 0;
    color: rgb(97, 96, 43)
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
ul{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
}
li{
    margin: 0.2cm;
}
a{ 
    text-decoration: none;
    color: black;
}
