*{
    text-decoration: none;
}
a{
    font-size: 15px;
    font-weight: bold;
}
.name{
    font-size: 30px;
    font-weight: bold;
}
.birthday{
    color: green;
}
.champInfo{
    color: red;
    font-weight: bold;
}
.infoLink{
    background: url('../img/extref.png') no-repeat left center;
    padding-left: 13px;
}
.content{
    font-style: italic;
    color: blue;
}