*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 20%;
    float: left;
    background-color: blueviolet;
    background: url('ball.png') top left no-repeat,
                url('ball.png') top right no-repeat,
                url('ball.png') bottom left no-repeat,
                url('ball.png') bottom right no-repeat,
                url('menuBG.png');
    height: 100vh;
}
.banner{
    width:200px;
    float: right;
    background: url('ball.png') top left no-repeat,
                url('ball.png') top right no-repeat,
                url('ball.png') bottom left no-repeat,
                url('ball.png') bottom right no-repeat,
                url('bannerBG.png');
    height: 100vh;
}
.content{
    margin-left: 20%;
    margin-right: 200px;
    background-color: darkgoldenrod;
    background: url('ball.png') top left no-repeat,
                url('ball.png') top right no-repeat,
                url('ball.png') bottom left no-repeat,
                url('ball.png') bottom right no-repeat,
                url('contentBG.png');
    height: 100vh;
}