*{
    margin: 0;
    padding: 0;
}
.mainDiv{
    background: url('img/ball.png') top left no-repeat,
                url('img/ball.png') top right no-repeat,
                url('img/ball.png') bottom left no-repeat,
                url('img/ball.png') bottom right no-repeat,
                url('img/ball.png') top right 100px no-repeat,
                url('img/ball.png') bottom right 100px no-repeat,
                url('img/ball.png') top right 200px no-repeat,
                url('img/ball.png') bottom right 200px no-repeat,
                url('img/ball.png') top right 80vw no-repeat,
                url('img/ball.png') bottom right 80vw no-repeat,
                url('img/ball.png') top left 20vw no-repeat,
                url('img/ball.png') bottom left 20vw no-repeat,

                url('img/bgbluepx.png') top right repeat-y,
                url('img/bgred.png') top left 20vw repeat-y,
                url('img/bggreen.png') top left repeat-y;
                
}
.clearfix{
    clear: both;
}
.menu{
    width: 20%;
    float: left;
}
.banner{
    width:200px;
    float: right;
}
.content{
    margin-left: 20%;
    margin-right: 200px;
}