@import url('style.css');

@media all and (max-width: 1460px){
    .wrapper{
        width: 980px;
    }

    .header .reservation button{
        width: 220px;
        height: 55px;
        font-size: 19px;
    }

    .header .reservation img{
        top: 50px;
        left: 326px;
        width: 334px;
    }

    .header .menu ul li{
        margin-right: 32px;
    }

    .greeting{
        height: 580px;
    }

    .greeting .interior{
        width: 480px;
        height: 525px;
    }

    .greeting .interior img:first-child{
        height: 480px;
        right: 17px;
    }

    .greeting .interior img:last-child{
        width: 210px;
    }


    .greeting h1{
        margin-top: 115px;
        font-size: 80px;
        line-height: 75px;
    }

    .greeting p{
        width: 420px;
    }

    .greeting button{
        height: 55px;
        width: 190px;
        font-size: 19px;
    }

    .find-us .frame .cont-box{
        width: 315px;
    }

    .find-us .frame .cont-box img{
        width: 60px;
    }

    .find-us .frame .cont-box h4{
        font-size: 25px;
        line-height: 25px;
        margin-top: -3px;
    }

    .find-us .frame .cont-box p{
        font-size: 15px;
        margin-left: 80px;
        line-height: 20px;
    }

    .story{
        height: 620px;
    }

    .story img:first-child{
        width: 45%;
    }

    .story img:last-child{
        width: 150px;
    }

    .story .tab{
        width: 415px;
    }

    .story .tab h3{
        font-size: 35px;
        line-height: 40px;
    }

    .story .tab p{
        font-size: 18px;
        line-height: 23px;
    }

    .story .tab div:nth-child(2){
        width: 100%;
        margin-bottom: 15px;
    }

    .dish-menu{
        height: 1680px;
    }

    .dish-menu > p{
        margin-top: 80px;
    }

    .dish-menu .offer h2{
        font-size: 35px;
    }

    .dish-menu .offer p{
        font-size: 18px;
        line-height: 24px;
        width: 385px;
    }

    .dish-menu .offer button{
        width: 200px;
        height: 55px;
        font-size: 18px;
    }

    .dish-menu .offer img{
        width: 75%;
    }

    .dish-menu .dish-list{
        margin-left: 425px;
    }

    .dish-menu .dish-list .dishclass h3{
        font-size: 34px;
    }

    .dishclass ul{
        margin: 40px 0 60px;
    }

    .dishclass ul li > h4{
        font-size: 22px;
        line-height: 30px;
    }

    .dishclass ul li > p{
        font-size: 15px;
        line-height: 15px;
        width: 180px;
        padding-right: 0;
    }

    .dishclass ul li > p.cost{
        font-size: 25px;
        width: 40px;
    }

    .dishclass hr{
        margin-top: 32px;
    }

    .feedback{
        height: 820px;
    }

    .feedback > p{
        margin-top: 120px;
    }

    .feedback .title h2{
        font-size: 35px;
    }

    .feedback .title p{
        font-size: 18px;
        line-height: 20px;
    }

    .feedback .cards{
        width: 1371px;
    }

    .cards .card{
        width: 437px;
    }

    .card p:last-child{
        font-size: 19px;
        line-height: 28px;
    }

    .feedback input + .cont-sw > label{
        top: 445px;
        left: 445px;
    }

    .spec-off{
        height: 1990px;
    }

    .spec-off .dishes h6{
        margin: 105px auto 0;
    }

    .spec-off button{
        margin-top: 45px;
        margin-left: 350px;
        width: 200px;
        height: 55px;
        font-size: 18px;
    }

    .off-box .try{
        width: 100%;
        margin-bottom: 10px;
    }

    .pop-box .slide{
        width: 211px;
        margin-right: 18px;
    }

    .pop-box .slide h4{
        font-size: 23px;
        line-height: 25px;
        margin-top: 5px;
    }

    .pop-box .slide p{
        font-size: 17px;
        line-height: 22px;
    }

    .services{
        height: 454px;
    }

    .services .description{
        width: 284px;
    }

    .services .description h6{
        margin-top: 105px;
    }

    .services .description h2{
        font-size: 36px;
    }


    .services .description p{
        font-size: 18px;
        line-height: 25px;
    }
    
    .serv .tab{
        width: 182px;
        height: 169px;
        border: 14px solid #323841;
        margin-right: 20px;
    }

    .serv .tab img{
        margin-top: 24px;
        margin-left: 56px;
        width: 46px;
    }

    .serv .tab h6{
        font-size: 20px;
    }
    
    .news > h6{
        margin-top: 105px;
        margin-left: 480px;
    }

    .widebox .tab{
        width: 420px;
    }

    .tab .view{
        height: 252px;
    }

    .tab .view button{
        width: 205px;
        height: 55px;
        margin-top: 108px;
        margin-left: 110px;
    }

    .news{
        height: 1060px;
    }

    .news .tab h6{
        font-size: 14px;
        margin-right: 22px;
    }

    .news .tab h3{
        font-size: 24px;
    }

    .news .tab p{
        font-size: 18px;
        line-height: 26px;
    }

    .reserv-table{
        height: 780px;
        background-position-y: -160px;
    }

    .reserv-table .fill-form{
        width: 770px;
        height: 590px;
        top: 80px;
        left: 110px;
    }

    .reserv-table .fill-form h6{
        margin-left: 310px;
    }

    .fill-form .form{
        margin-top: 20px;
    }

    .fill-form button{
        width: 216px;
        height: 60px;
        margin-left: 278px;
        font-size: 19px;
    }

    .form .str{
        margin-bottom: 24px;
    }

    .footer{
        height: 520px;
    }

    .footer .subscribe > img{
        margin-left: 172px;
        width: 34%;
        margin-top: 80px;
        margin-bottom: 15px;
    }

    .footer .subscribe > p{
        margin-top: 162px;
        font-size: 20px;
    }

    .footer .subscribe ul{
        margin-top: 138px;
    }

    .contacts h6{
        margin-top: 24px;
    }

    .contacts .cont h6{
        margin-top: 42px;
    }

    .contacts .cont ul li{
        font-size: 15px;
        line-height: 25px;
    }

    .contacts .cont ul li:nth-child(2){
        font-size: 16px;
    }

    .mail{
        margin-left: 42px;
        width: 450px;
    }
    .mail .email-bar, .mail p{
        margin-left: 0;
    }

    .mail .email-bar input, .mail .email-bar button{
        height: 45px;
    } 

    .mail .email-bar button{
        width: 140px;
        font-size: 19px;
    }

    .working-hours .timetable > ul li{
        font-size: 16px;
    }

    .mail .email-bar input{
        width: 280px;
        padding-top: 3px;
        padding-left: 12px;
        font-size: 19px;
        margin-left: 15px;
    }

    .footer hr{
        width: 980px;
    }

    .designedby .copyright p{
        font-size: 16px;
        line-height: 10px;
        margin-top: 32px;
    }

    .designedby .faq ul li{
        margin-left: 17px;
    }

    .designedby .faq ul li > a{
        font-size: 15px;
        line-height: 28px;
    }




}

@media all and (max-width: 1000px){
    .wrapper{
        width: 640px;
    }

    .header .reservation button{
        width: 260px;
        height: 40px;
        font-size: 17px;
        bottom: 118px;
        top: unset;
    }

    .header .reservation img{
        top: 20px;
        left: 152px;
    }

    .header .menu{
        width: 350px;
    }

    .greeting{
        height: 480px;
    }

    .greeting .interior img:first-child{
        height: 350px;
        right: 10px;
    }

    .greeting .interior img:last-child{
        width: 152px;
        top: 7px;
        right: 8px;
    }

    .greeting .interior{
        width: 338px;
        height: 380px;
        border-width: 18px;
    }

    .greeting h1{
        margin-top: 0;
        padding-top: 65px;
        font-size: 40px;
        line-height: 42px;
        float: none;
    }

    .greeting p{
        width: 235px;
    }

    .greeting button{
        height: 45px;
        width: 160px;
        font-size: 17px;
    }

    .find-us{
        height: 300px;
    }

    .find-us .frame{
        position: relative;
        top: 40px;
        left: 170px;
    }

    .find-us .frame .cont-box{
        margin-bottom: 20px;
        width: 330px;
        float: left;
        clear: both;
    }

    .find-us .frame .cont-box h4{
        margin-top: 7px;
    }

    .story{
        height: 950px;
    }
    .story img:first-child{
        width: 100%;
        top: 20px;
        left: unset;
    }

    .story .tab{
        float: none;
        top: 50px;
        right: unset;
        left: 40px;
        width: 88%;
    }

    .story .tab div:nth-child(2), .tab .story div:nth-child(3){
        width: 45%;
    }

    .story img:last-child{
        margin-top: 20px;
    }

    .dish-menu{
        height: 2350px;
    }

    .dish-menu > p{
        margin-top: 60px;
    }

    .dish-menu .offer{
        float: none;
    }

    .dish-menu .offer p{
        width: 100%;
    }

    .dish-menu .offer img{
        transform: rotate(90deg);
        margin-top: -100px;
        margin-left: 77px;
        width: 72%;
    }

    .dish-menu .offer button{
        margin-top: -20px;
        margin-left: 132px;
        width: 300px;
    }

    .dishclass ul li > p{
        width: auto;
    }

    .dish-menu .dish-list{
        clear: both;
        margin-left: 0;
        margin-top: 110px;
    }

    .dishclass ul li > h4{
        padding-top: 10px;
    }

    .dishclass ul li > p{
        margin-top: 10px;
        padding-right: 5px;
    }

    .dishclass hr{
        margin-top: 23px;
    }

    .dishclass ul li > p.cost{
        padding-left: 5px;
        width: 33px;
        bottom: -2px;
    }

    .feedback > p{
        margin-top: 100px;  
    }

    .cards .card{
        width: 280px;
        padding: 0 25px 0;
    }

    .cards .card img:first-child{
        margin-bottom: 15px;
        width: 40%;
    }

    .card .card-title{
        margin-left: 115px;
    }

    .card .card-title h3{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
        margin-top: 24px;
    }

    .card p:last-child{
        font-size: 22px;
    }

    .cards .card img:nth-child(2){
        left: 15px;
    }
        
    .feedback{
        height: 770px;
    }
    .feedback .cards{
        width: 900px;
    }

    .feedback input + .cont-sw > label{
        left: 268px;
        top: 420px;
    }

    .spec-off .dishes h6{
        margin: 80px auto 0;
    }

    .burg img{
        width: 43%;
    }

    .pizza img{
        width: 50%;
    }

    .spec-off{
        height: 2450px;
    }

    .spec-off .dishes p{
        width: 79%;
        margin-left: auto;
        margin-right: auto;
    }

    .pop-box .slide{
        width: 270px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    

    .pop-box .slide:nth-child(2), .pop-box .slide:nth-child(4){
        margin-right: 0;
    }

    .spec-off button{
        margin-top: 0px;
        margin-left: 162px;
        width: 230px;
    }

    .services .description{
        width: 100%;
        float: none;
    }

    .services{
        height: 510px;
    }

    .serv{
        margin-top: 40px;
    }

    .serv .tab{
        width: 173px;
        height: 160px;
    }

    .serv .tab img{
        margin-top: 28px;
        margin-left: 52px;
    }

    .serv .tab h6{
        margin-top: 7px;
        font-size: 18px;
    }

    .news{
        height: 1610px;
    }

    .news > h6{
        margin-top: 95px;
        margin-left: 304px;
    }

    .tab .view button{
        margin-left: 162px;
    }

    .widebox .tab{
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }

    .reserv-table{
        background: url(../img/bg-reservation.png) bottom 0 left -95px no-repeat;
        height: 910px;
    }

    .reserv-table .fill-form{
        width: 512px;
        height: auto;
        top: 65px;
        left: 65px;
    }

    .fill-form .form{
        width: 100%;
        padding: 0 30px;
        margin-bottom: 0;
    }

    .reserv-table .fill-form h6{
        margin-left: 184px;
        margin-top: 100px;
    }

    .fill-form .form .str{
        margin-bottom: 0;
        height: auto;
    }

    .fill-form .form .str input{
        width: 100%;
        margin-bottom: 20px;
    }

    .form .first-str input:first-child,  .form .first-str input:last-child{
        float: none;
    }

    .fill-form button{
        margin: 20px 152px 40px;
    }

    .footer{
        height: 850px;
    }

    .footer .subscribe > p{
        margin-top: 90px;
    }

    .footer .subscribe ul{
        margin-top: 58px;
    }

    .footer .subscribe > img{
        width: 60%;
        margin-left: 110px;
        margin-top: 0px;
    }

    .contacts{
        margin-top: 20px;
    }

    .contacts .cont h6{
        margin-top: 24px;
    }

    .mail{
        margin-left: 62px;
        margin-top: 30px;
    }

    .footer hr{
        width: 640px;
    }

    .designedby .faq ul{
        margin-right: 70px;
        margin-top: 10px;
    }
    .designedby .faq ul li{
        margin-left: 50px;
    }

    .designedby .copyright p{
        margin-top: 18px;
    }



}

@media all and (max-width: 690px){
    .wrapper{
        width: 300px;
    }
}