/* colors */
/* box-shadow colors */
/* font-family */
/* font-size */
/* font-weight */
/* colors */
/* box-shadow colors */
/* font-family */
/* font-size */
/* font-weight */
.card:nth-child(1) {
  background: url("../img/topCategOverlay.png") top left no-repeat, url("../img/topCateg1.png") top left no-repeat; }

.card:nth-child(2) {
  background: url("../img/topCategOverlay.png") top left no-repeat, url("../img/topCateg2.png") top left no-repeat; }

.card:nth-child(3) {
  background: url("../img/topCategOverlay.png") top left no-repeat, url("../img/topCateg3.png") top left no-repeat; }

.card:nth-child(4) {
  background: url("../img/topCategOverlay.png") top left no-repeat, url("../img/topCateg4.png") top left no-repeat; }

.cards-list .info-card:nth-of-type(1) > .top-img {
  background: url("../img/availList1.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(1) .card-bottom .prof .av-photo {
  background: url("../img/avatar1.png") top left no-repeat;
  background-size: cover; }

.cards-list .info-card:nth-of-type(2) > .top-img {
  background: url("../img/availList2.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(2) .card-bottom .prof .av-photo {
  background: url("../img/avatar2.png") top left no-repeat;
  background-size: cover; }

.cards-list .info-card:nth-of-type(3) > .top-img {
  background: url("../img/availList3.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(3) .card-bottom .prof .av-photo {
  background: url("../img/avatar3.png") top left no-repeat;
  background-size: cover; }

.cards-list .info-card:nth-of-type(4) > .top-img {
  background: url("../img/availList4.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(4) .card-bottom .prof .av-photo {
  background: url("../img/avatar4.png") top left no-repeat;
  background-size: cover; }

.cards-list .info-card:nth-of-type(5) > .top-img {
  background: url("../img/availList5.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(5) .card-bottom .prof .av-photo {
  background: url("../img/avatar5.png") top left no-repeat;
  background-size: cover; }

.cards-list .info-card:nth-of-type(6) > .top-img {
  background: url("../img/availList6.png") top center no-repeat;
  border-radius: 24px 24px 0 0; }
.cards-list .info-card:nth-of-type(6) .card-bottom .prof .av-photo {
  background: url("../img/avatar6.png") top left no-repeat;
  background-size: cover; }

.hiw .container > .card-hiw:nth-of-type(1) .img-title {
  background: url("../img/HIW1.png") top center no-repeat;
  background-size: cover; }

.hiw .container > .card-hiw:nth-of-type(2) .img-title {
  background: url("../img/HIW2.png") top center no-repeat;
  background-size: cover; }

.hiw .container > .card-hiw:nth-of-type(3) .img-title {
  background: url("../img/HIW3.png") top center no-repeat;
  background-size: cover; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #09153D; }
  * body {
    background-color: #FFFFFF;
    margin: 0 auto; }
  * ul {
    list-style-type: none; }
  * a {
    color: inherit;
    text-decoration: none; }
    * a:hover {
      color: inherit; }
  * i {
    color: inherit; }
  * p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #676C7B;
    margin-bottom: 0; }
  * .row-cont {
    max-width: 1290px;
    margin: 0 auto; }
  * button:hover {
    cursor: pointer; }
  * h2.marked::after {
    content: '';
    display: block;
    width: 420px;
    height: 24px;
    background: url("../img/headerPad.png") no-repeat;
    margin: 0 auto;
    margin-top: -14px; }
  * h2.marked.sec::after {
    margin: 0;
    margin-top: -14px; }

/*# sourceMappingURL=default.css.map */
