@import "variables.scss";
@import "mixins.scss";
@import "default.scss";

*{

    .main-header{
        width: 100%;
        background: $pink;

        & > .row-cont{
            min-height: 968px;
            position: relative;
            
            & > .header{
                display: flex;
                justify-content: space-between;
                
                .left-container{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 40px;
    
                    .logo{
                        display: flex;
                        justify-self: flex-start;
                        margin-right: 80px;
                    }
        
                    .menu{
                        display: flex;
                        justify-self: flex-start;
                        justify-content: space-between;
                        font-weight: $lite;
                        line-height: 19px;
                        color: #09153D;
    
    
                        & > div{
                            width: 100px;
                            height: 40px;
                            margin-right: 16px;
                            text-align: center;
                            padding-top: 10px;
    
                            i.arrow{
                                margin-left: 9px;
                            }
    
                            &:hover{
                                border: none;
                                border-radius: 20px;
                                background: $pink1;
                                color: $red;
                            }
                        }
    
                    }
                }
    
                .profile{
                    display: flex;
                    justify-self: flex-end;
                    margin-top: 30px;
    
                    .avatar{
                        margin-top: 6px;
                        margin-right: 10px;
                        position: relative;
                        width: 48px;
                        height: 48px;
                        content: '';
                        background: url('../img/avatar3.png') left top no-repeat;
                        background-size: cover;
    
                        .online-dot{
                            position: absolute;
                            bottom: 0;
                            right: 3px;
                            width: 12px;
                            height: 12px;
                            background: $green;
                            border-radius: 6px;
                        }
                    }
    
                    .prof-menu{
                        margin-top: 20px;
                        margin-right: 34px;
    
                        a{
                            font-weight: $lite;
                            line-height: 19px;
    
                            &:hover{
                                color: $red;
                            }
                        }
                    }
    
                    button{
                        width: 169px;
                        height: 60px;
                        border: none;
                        border-radius: 16px;
                        background: $red;
                        font-weight: $bold;
                        line-height: 19px;
                        color: $white;
    
                        & > i{
                            margin-right: 14px;
                        }
                    }
                }
    
            }
    
            & > .our-listings{
                margin-top: 70px;
                position: relative;
    
                .our-list-cont{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
    
                    .left-side{
    
                        h1{
                            margin-top: 74px;
                            font-weight: $xbold;
                            font-size: $fsz60;
                            line-height: 75px;
                        }
        
                        h6{
                            margin-top: 70px;
                            font-weight: $bold;
                            font-size: $fsz20;
                            line-height: 22px;
                            letter-spacing: 0.02em;
        
                            & > img{
                                padding-bottom: 3px;
                            }
                        }
        
                        p{
        
                            &:nth-child(2){
                                line-height: 30px;
                                margin-top: 20px;
                            }
        
                            &:nth-child(4){
                                letter-spacing: 0.02em;
                                margin-top: 7px;
                            }
        
                            &:nth-child(6){
                                margin-top: 70px;
                                & > a{
                                    font-family: $grotesk;
                                    font-weight: $bold;
                                    line-height: 20px;
                                    text-decoration-line: underline;
                                    color: $red;
                                }
                            }
        
                            &:last-child{
                                margin-top: 10px;
                                font-weight: $reg;
                                font-size: $fsz12;
                                line-height: 15px;
                            }
        
                        }
        
                        .rate-photoes{
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 25px;
        
                            & > img{
                                width: 48px;
                                height: 48px;
                                margin-left: -10px;
        
                                &:first-child{
                                    margin-left: 0;
                                }
                            }
        
                            & > .circle{
                                width: 48px;
                                height: 48px;
                                margin-left: -10px;
                                background: $red;
                                border-radius: 24px;
                                
                                & > p{
                                    font-family: $grotesk;
                                    font-weight: $bold;
                                    line-height: 16px;
                                    text-align: center;
                                    letter-spacing: 0.02em;
                                    color: $white;
                                    padding-top: 6px;
                                }
                                
                            }
                        }
        
                    }
        
                    .right-side{
                        margin-top: 136px;
                        .stat{
                            margin-bottom: 80px;
        
                            h2{
                                font-size: $fsz48;
                                font-weight: $bold;
                                line-height: 40px;
                                text-align: right;
                            }
        
                            p{
                                margin-top: 5px;
                                line-height: 30px;
                                text-align: right;
                            }
                        }
                    }
        
                    .building{
                        content: '';
                        height: inherit;
                        width: 50%;
                        position: relative;
        
                        & > img{
                            position: absolute;
        
                            &:first-child{
                                left: 65px;
                                top: 355px;
                            }
        
                            &:nth-child(2){
                                top: 228px;
                                left: 20px;
                            }
        
                            &:nth-child(3){
                                top: 0;
                                left: 25%;
                            }
        
                            &:nth-child(4){
                                left: 25%;
                                top: 282px;
                            }
                        }
                    }
                }
    
            }
    
            & > .explore-cover{
                height: 210px;
                width: 100%;
                background: $white-op3;
                box-shadow: 0px 30px 70px $blue-op04;
                border-radius: 20px;
                position: absolute;
                left: 0;
                bottom: -105px;
    
                .explore{
                    width: calc(100% - 60px);
                    height: calc(100% - 60px);
                    display: flex;
                    justify-content: space-between;
                    margin: 30px;
                    padding: 45px 50px;
                    background: $white;

                    & > .tab{
                        height: 44px;
                        display: flex;
                        justify-content: space-between;

                        .tab-text{
                            margin-left: 10px;

                            p{
                                &:first-child{
                                    font-weight: $lite;
                                    font-size: $fsz14;
                                    line-height: 14px;
                                    color: $gray;

                                    & > i{
                                        margin-left: 10px;
                                        font-size: $fsz_default;
                                        color: $red;
                                    }
                                }

                                &:last-child{
                                    margin-top: 10px;
                                    font-weight: $sbold;
                                    line-height: 16px;
                                }
                            }
                        }
                    }

                    & > button{
                        width: 246px;
                        height: 60px;
                        border: none;
                        border-radius: 16px;
                        background: $red;
                        font-weight: $bold;
                        color: $white;

                        & > i{
                            margin-right: 14px;
                        }
                    }
                }
            }
            
        }
    }

    .top-cat{

        h2{
            @include header;
            margin-top: 224px;
            text-align: center;
        }

        & > p{
            line-height: 30px;
            text-align: center;
            margin-top: 20px;
        }


        & > .carousel{
            margin-top: 50px;

            .carousel-indicators{
                
                & > button{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background: $ltgray;
                    opacity: 1;
                    border: none;

                    &.active{
                        background: $red;
                    }
                }
            }

            .carousel-inner{
                margin-bottom: 50px;



                .carousel-item{

                    .cards{
                        display: flex;
                        justify-content: space-between;
                        height: 400px;
            
                        .card{
                            width: 300px;
                            height: 320px;
                            box-shadow: 0px 30px 70px $blue-op04;
                            border-radius: 20px;
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            padding-left: 24px;
            
                            & > h6{
                                font-weight: $bold;
                                font-size: $fsz20;
                                line-height: 30px;
                                color: $white;
                                margin-bottom: 10px;
                            }

                            & > p{
                                display: block;
                                width: 150px;
                                height: 40px;
                                background: $white-op4;
                                backdrop-filter: blur(15px);
                                border-radius: 20px;
                                font-weight: $reg;
                                line-height: 28px;
                                text-align: center;
                                color: $white;
                                margin-bottom: 24px;
                                padding-top: 8px;
                            }
                        }
            
                    }


                    &.active{



                    }

                }

            }

        }

        
    }

    .offer{
        width: 100%;
        height: 570px;
        background: url('../img/OfferBg.png');


        .cont-cover{
            background: $blackOp06;
            width: 100%;
            height: 100%;

            .container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                overflow: visible;

                .text-cont{
                    h2{
                        padding-top: 146px;
                        @include header;
                        color: $white;
        
                        span{
                            @include header;
                            color: $orange;
                        }
                    }
        
                    button{
                        margin-top: 40px;
                        width: 148px;
                        height: 59px;
                        background: $red;
                        border-radius: 16px;
                        font-weight: $bold;
                        font-size: $fsz_default;
                        line-height: 19px;
                        color: $white;
                        border: none;
                    }
                }

                .cards-cont{
                    position: relative;
                    width: 470px;

                    .instacard{
                        position: absolute;
                        width: 320px;
                        height: 400px;
                        background: #FFFFFF;
                        box-shadow: 20px 20px 70px $blue-op1;
                        border-radius: 20px;

                        & > img{
                            margin: 30px 30px 0 30px;
                            width: 260px;
                            height: 310px;
                            border: none;
                            border-radius: 20px;
                        }
                        
                        .ic{
                            display: flex;
                            justify-content: space-between;
                            margin: 15px 35px;


                            & > p{
                                display: block;
                                font-weight: $reg;
                                font-size: $fsz_default;
                                line-height: 30px;
                                color: $gray;
                            }
                            
                            .comm{
                                display: flex;
                                justify-content: flex-start;

                                .img-comm{
                                    margin-top: 2px;
                                    margin-right: 5px;
                                }
                            }

                            .like{
                                display: flex;
                                justify-content: flex-end;

                                .img-like{
                                    margin-top: -10px;
                                    margin-right: 5px;
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    padding-top: 13px;
                                    padding-left: 1px;
                                    background: url('../img/insta-likebg.png');
                                }
                            }
                        }

                        &:first-child{
                            transform: rotate(-5deg);
                            bottom: -55px;
                            right: 180px;
                            z-index: 1;
                        }

                        &:last-child{
                            & > .ic{
                                justify-content: flex-end;
                            }
                            transform: rotate(15deg);
                            bottom: -60px;
                            left: 142px;
                        }
                        
                    }

                    .line1{
                        z-index: 1;
                        position: absolute;
                        bottom: -110px;
                        left: -110px;
                    }

                    .line2{
                        position: absolute;
                        z-index: 1;
                        right: -115px;
                        top: 83px;
                    }
                }
            }
        }
    }

    .av-list{
        min-height: 1426px;

        .cap{
            margin-top: 140px;
            margin-bottom: 45px;
            display: flex;
            justify-content: space-between;

            div{
                h2{
                    @include header;
                }
    
                p{
                    margin-top: 19px;
                    font-weight: $lite;
                    line-height: 30px;
                    color: $gray;
                }
            }

            button{
                align-self: flex-end;
                width: 200px;
                height: 59px;
                background: $red;
                border: none;
                border-radius: 16px;
                font-weight: 700;
                font-size: inherit;
                line-height: 19px;
                color: $white;
            }
        }

        .cards-list{
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .info-card{
                width: 410px;
                height: 548px;
                background: $white;
                box-shadow: 0px 30px 70px $blue-op04;
                border-radius: 24px;
                margin-bottom: 30px;


                .top-img{
                    width: 100%;
                    height: 320px;
                    display: flex;
                    justify-content: space-between;

                    .categ{
                        align-self: flex-end;
                        margin: 24px;
                        background-color: $orange;
                        height: 40px;
                        border-radius: 20px;

                        p{
                            margin: 6px 16px;
                            font-weight: $reg;
                            line-height: 28px;
                            text-align: center;
                            color: $white;
                        }
                    }

                    .rating{
                        display: flex;
                        align-self: flex-end;
                        justify-content: center;
                        margin: 24px;
                        background-color: $white;
                        height: 30px;
                        border-radius: 15px;
                        padding: 7px 12px;
                        

                        & > p{
                            display: block;
                            align-self: center;
                            margin-left: 5px;
                            font-weight: $reg;
                            line-height: 16px;
                            color: $gray;
                        }
                    }
                }

                & > .cont{
                    margin: 24px;
                    margin-bottom: 28px;

                    .headf{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 8px;
    
                        h5{
                            font-weight: $bold;
                            font-size: $fsz20;
                            line-height: 30px;
                            color: $semi-dkblue;
                        }

                        & > p{
                            font-weight: $reg;
                            font-size: $fsz20;
                            line-height: 30px;
                            text-align: right;
                            color: $red;

                            span{
                                color: inherit;
                                font-weight: $lite;
                            }
                        }
                    }

                    .p-cont{
                        display: flex;
                        justify-content: flex-start;
                        margin-bottom: 6px;

                        & > img{
                            width: 23px;
                            height: 23px;
                        }

                        & > p{
                            display: inline-block;
                            margin-left: 5px;
                            margin-top: -1px;
                            font-weight: $lite;
                            line-height: 28px;
                            color: $gray;
                        }
                    }   
                    
                }

                .card-bottom{
                    padding: 16px 24px;
                    width: 100%;
                    height: 80px;
                    background: $gr-blue-op05;
                    box-shadow: 0px 30px 70px $blue-op04;
                    border-radius: 0px 0px 24px 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .prof{
                        display: flex;
                        justify-content: flex-start;
    
                        .av-photo{
                            display: block;
                            content: '';
                            width: 48px;
                            height: 48px;
                        }
    
                        & > .cont{
                            margin-left: 8px;

                            h5{
                                margin-top: 7px;
                                font-weight: $reg;
                                line-height: 16px;
                                color: $semi-dkblue;
                            }
    
                            p{
                                margin-top: 5px;
                                font-weight: $lite;
                                font-size: $fsz12;
                                line-height: 16px;
                                color: $gray;
                            }
                        }
                    }
                }
            }
        }
    }

    .newsletter{
        background: $pink;
        min-height: 570px;

        .newsletter-b{
            display: flex;
            justify-content: space-between;

            & > .video{
                width: 50%;
                position: relative;
                justify-self: flex-end;
                display: block;
                width: 980px;
                height: 570px;
                background: url('../img/videoCover.png') center no-repeat;
                background-size: cover;
                
                button{
                    width: 120px;
                    height: 120px;
                    border: none;
                    border-radius: 60px;
                    background: url('../img/videoButton.png') center no-repeat;

                    position: absolute;
                    top: 225px;
                    left: 450px;
                }
            }

            & > .cont{
                width: 50%;
    
                h2{
                    @include header;
                }
    
                p{
                    margin-top: 18px;
                    font-weight: $lite;
                    line-height: 30px;
                    color: $gray;
                }
    
                .subscr{
                    margin-top: 30px;
                    display: flex;
                    justify-content: flex-start;
    
                    & > input{
                        width: 370px;
                        height: 59px;
                        background: $white;
                        border-radius: 16px;
                        border: none;
                        font-weight: $lite;
                        line-height: 30px;
                        color: $gray;
                        padding-left: 25px;
                        margin-right: 15px;
                    }
    
                    & > button{
                        width: 130px;
                        height: 59px;
                        background: #FF823A;
                        border-radius: 16px;
                        border: none;
    
                        font-weight: $bold;
                        line-height: 19px;
                        color: $white;
                    }
                }
            }
        }
    }

    .hiw{
        height: 754px;
        padding-top: 120px;

        h2{
            @include header;
            text-align: center;
        }

        & > p{
            margin-top: 20px;
            font-weight: $lite;
            line-height: 30px;
            text-align: center;
            color: $gray;
        }

        .container{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .card-hiw{
                padding: 60px 40px;
                width: 410px;
                height: 314px;
                background: $white;
                box-shadow: 0px 10px 70px $blue-op04;
                border-radius: 24px;
                text-align: center;

                .img-title{
                    width: 70px;
                    height: 70px;
                    margin: 0 auto;
                }

                h6{
                    font-weight: $bold;
                    font-size: $fsz20;
                    line-height: 30px;
                    color: $semi-dkblue;
                    margin-top: 30px;
                }

                p{
                    margin-top: 8px;
                    font-weight: $lite;
                    line-height: 28px;
                    color: $gray;
                }
            }
        }
    }

    .feedbacks{
        background: $or-op05;
        min-height: 570px;
        padding-top: 120px;

        & > .cont{
            h2{
                @include header;
            }

            p{
                margin-top: 20px;
                font-weight: $lite;
                line-height: 30px;
                color: $gray;
            }

            .control{
                margin-top: 64px;

                button{
                    width: 50px;
                    height: 50px;
                    background: $white;
                    border: none;
                    border-radius: 8px;

                    & > i{
                        color: $gray;
                        font-size: $fsz20 - 2;
                    }

                    &:hover{
                        background: $red;

                        & > i{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}