/* colors */

$pink: #FFF5F7;
$pink1: #FFE1E8;
$peach: #FF6D5A;
$semi-dkblue: #09153D;
$dkblue: #000924;
$gray: #676C7B;
$green: #38B653;
$red: #EE1C47;
$white: #FFFFFF;
$semi-white: #FCFCFC;
$orange: #FF823A;
$gold: #FFC107;
$black: #000000;

$white-op3: rgba(255, 255, 255, 0.3);
$white-op4: rgba(255, 255, 255, 0.4);
$white-op7: rgba(255, 255, 255, 0.7);
$gr-blue-op05: rgba(103, 108, 123, 0.05);
$or-op05: rgba(255, 130, 58, 0.05);

/* box-shadow colors */

$blue-op04: rgba(2, 13, 46, 0.04);
$blue-op1: rgba(2, 13, 46, 0.1);

/* font-family */

$inter: 'Inter', sans-serif;
$grotesk: 'CabinetGrotesk-Bold', sans-serif;
$sfpro: 'SFProDisplay-Semibold', sans-serif;

/* font-size */

$fsz12: 12px;
$fsz14: 14px;
$fsz_default: 16px;
$fsz20: 20px;
$fsz48: 48px;
$fsz60: 60px;

/* font-weight */

$lite: 400;
$reg: 500;
$sbold: 600;
$bold: 700;
$xbold: 800;




