@import url(style.css);

@media all and (max-width: 622px){
    .content{
        grid-template-rows: 0fr 290px;
        grid-template-columns: none;
    }

    .cup{
        order: 0;
    }

    .cup img{
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    .menu{
        order: 1;
    }

    .bars{
        font-size: 22px;    
    }
}

@media all and (max-width: 462px){
    .bars{
        font-size: 18px;    
    }
}