@keyframes bgcol{
    from { background-color: aqua; }
    25% { background-color: blue;}
    50% {background-color: blueviolet;}
    75% {background-color: cornflowerblue;}
    to { background-color: aqua; }
}
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.ico img{
    height: 200px;
}

.sound{
    border-radius: 10px;
    animation: bgcol 0.5s steps(4) infinite;
}