.name{
    font-size: 30px;
    font-weight: bold;
}
.birthday{
    color: green;
}
.champInfo{
    color: red;
    font-weight: bold;
}
.infoLink{
    font-size: 15px;
}
.content{
    font-style: italic;
    color: blue;
}