.board table{
    border-collapse: collapse;
}
td{
    width: 60px;
    height: 60px;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}
div.board tr:first-child td, div.board tr:last-child td{
    background-color: green;
    height: 20px;
}
div.board td:first-child, div.board td:last-child{
    background-color: green;
    width: 20px;
}